<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <api>
          <GraphQL>
              <defaults>
                  <content>
                      <schemaProviders>
                          <systemContent>
                              <queries>
                                  <query name="search" type="Sitecore.Support.Services.GraphQL.Content.Queries.SearchQuery, Sitecore.Support.394515" patch:instead="*[@type='Sitecore.Services.GraphQL.Content.Queries.SearchQuery, Sitecore.Services.GraphQL.Content']"/>
                              </queries>
                          </systemContent>
                      </schemaProviders>
                  </content>
              </defaults>
          </GraphQL>
      </api>  
  </sitecore>
</configuration>